/*
@import url("font-awesome.min.css");        
@import url("lobibox.min.css");        
@import url("fabric.min.css");        
@import url("fabric.components.min.css");        
@import url("flags16.css");
@import url("flags32.css");        
@import url("fullcalendar.min.css"); 
@import url("vis.min.css");        
@import url("jstree.min.css");     
*/

#DeltaPlaceHolderLeftNavBar{
  display: none;
}

/*#region Splash */
#splash-page {
  z-index: 99999 !important;
}
#splash-page .bar {
  width: 100%;
}
.page-splash {
  z-index: 99999 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .9;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  margin: 20% auto 0 auto;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-splash-message.page-splash-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.flag-haschanges {
  position: fixed !important;
  display: inline;
}
.fa-asterisk.fa-asterisk-large {
  font-size: 180%;
  vertical-align: middle;
  color: #F58A00;
}
.fa-asterisk.fa-asterisk-alert {
  color: #F58A00;
}
.fa-asterisk-inline {
  padding: 0 4px 0 0;
}
.progress,
.page-progress-bar {
  margin: 30px 10% !important;
}
.ngplus-overlay-background {
  top: 0px;
  left: 0px;
  padding-left: 100px;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: #808080;
  opacity: 0.2;
}
.ngplus-overlay-content {
  position: absolute;
  /*border: 1px solid #000;*/
  /*background-color: #fff;*/
  font-weight: bold;
  height: 100px;
  width: 300px;
  height: 15em;
  width: 20em;
  z-index: 10000;
  text-align: center;
}
.page-spinner-message {
  text-align: center;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-spinner-message.page-spinner-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.overlay-message {
  font-size: 200%;
}
.spinner {
  margin: 20% auto 0 auto;
  left: auto;
  top: auto !important;
}
/*#endregion Splash*/

/*#region Override Office UI Fabric:  BEGIN*/

.ms-Pivot {
  /*Fix bug so context menu renders properly*/
  overflow-x: initial;
}

.ms-ContextualMenu-link {
  text-decoration: none !important;
  color: black !important;
}

.ms-MessageBar{
  display: block;
}

.ms-ContextualMenu.ms-ContextualMenu--multiselect .ms-ContextualMenu-link{
  padding-right: 6px;
}

/*#endregion Override Office UI Fabric:  END*/



/*#region TIMELINE-VERTICAL BEGIN*/

.vertical-timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.vertical-timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.vertical-timeline li {
  padding: 1em 0;
}

.vertical-timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.timeline-flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.timeline-flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .timeline-flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .timeline-flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .timeline-flag:before,
.direction-r .timeline-flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .timeline-flag:before {
  left: -40px;
}

.direction-l .timeline-flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .timeline-flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.vertical-timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.vertical-timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.timeline-flag-wrapper {
	text-align: center;
}

.timeline-flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .timeline-flag:before,
.direction-r .timeline-flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .timeline-flag:after,
.direction-r .timeline-flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
/*#endregion TIMELINE-VERTICAL END*/

/*#region HORIZONTAL-TIMELINE BEGIN*/
.horizontal-timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 25px;
}

.li {
  transition: all 200ms ease-in;
  cursor: pointer;
}

.status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
  margin-top: 22px; /*SP2013 prefers to use margin:auto */
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #3c763d;
}
.li.complete .status:before {
  background-color: #3c763d;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #3c763d;
}

.li.incomplete .status {
  border-top: 2px solid #a94442;
}
.li.incomplete .status:before {
  background-color: #a94442;
  border: none;
  transition: all 200ms ease-in;
}
.li.incomplete .status h4 {
  color: #a94442;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .horizontal-timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

/* overriding stock behavior*/
.horizontal-timeline {
  margin-top: 13px;
	justify-content: inherit;
}

.status{
  padding: 0 7px;
}

.status:before{
  width: 20px;
	height: 20px;
	top: -11px;
}

.status h4{
  margin-top: 6px;
}

/*#endregion HORIZONTAL-TIMELINE END*/

/*#region SLIDESHOW-ANIMATION */
.fullpage {
				margin:0;
				padding:0;
				border:0;
				width:100%;
				height: 100%;
			
			}
					
			.slider{
				position: relative;
				margin:0;
				padding:0;
				border:0;
				width:100%;
				height: 100%;
			}
			.slide{
				width: 100%;
				height: 100%;
				margin:0;
				padding:0;
				border:0;
				position:absolute;
				top:0;
				left:0;
				box-shadow: 0px 0px 15px #999;
			}
			
			.control-panel{
				position: absolute;
				top: 10px;
				right: 20px;
			}
									 
			.slide.ng-hide-add, .slide.ng-hide-remove {
				-webkit-transition:all linear 0.5s;
				-moz-transition:all linear 0.5s;
				-o-transition:all linear 0.5s;
				transition:all linear 0.5s;
				display:block!important;
			}
			 
			.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
				/*opacity:0;*/
				top: -100%;
			}
			 
			.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
				/*opacity:1;*/
				top:0;
			}

/*#endregion SLIDESHOW-ANIMATION */

/*#region VISJS TIMELINE */
.vis-item, .vis-label{
  cursor: pointer;
}
/*#endregion VISJS TIMELINE */

/*#region FullCalendar */
.fc-event:visited{
  color: #fff;
}
/*#endregion FullCalendar */

/*#region Listview Webpart buttons */
.custombtn {
  background: #3498db;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius:14px;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  text-decoration: none !important;
}

.custombtn:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.disabled-custombtn {
  color: rgb(51,51,51);
  background: rgb(221,221,221);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius:14px;
  font-family: Arial;
  font-size: 12px;
  padding: 3px 10px 3px 10px;
  text-decoration: none !important;
  cursor: not-allowed;
  opacity: 0.65;
}
/*#endregion Listview Webpart buttons */

/*#region Sidebar Menu */

#jocboxmenu ul, #jocboxmenu ul li{
    font-size:13px;
    margin:0;
    padding:0;
    list-style:none;
}

#jocboxmenu ul{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
    background-color: #fff;
    border: 1px solid #c8c8c8;
    width: 180px;
    z-index: 1000;
}

#jocboxmenu ul li{
    width:180px;
    cursor:pointer;
    position:relative;
}

#jocboxmenu ul li:hover{
  /*on hover of level-one, make position relative*/
  position:relative;   
}


#jocboxmenu ul li ul{
    /*hide level-two menu*/
    position:absolute;
    display:none;
}

#jocboxmenu ul li:hover ul{
    /*on hover of level-one, show level-two menu*/
    left:180px;
    top:0px;
    display:block;
}

#jocboxmenu ul li:hover ul li ul{
    /*hide level-three menu*/
    position:absolute;
    display:none;
}

#jocboxmenu ul li:hover ul li:hover ul{
    /*on hover of level-one and two, show level-three menu*/
    display:block;
    left:180px;
    top:0;
}

#jocboxmenu a{
  text-decoration: none;
    color: #333;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 0 8px;
    position: relative
}

#jocboxmenu a:hover{    
  background-color: #eaeaea;
}

#jocboxmenu a.noflag{
    height: 34px;
    line-height: 34px;
}

#jocboxmenu span.menu-label-when-flag {
  margin-left: 36px;
  white-space: nowrap;
  overflow:hidden;
  display:block;
  width: 105px;
  text-overflow:ellipsis;
}

#jocboxmenu span.menu-label-when-no-flag {
    white-space: nowrap;
    overflow:hidden;
    display:block;
    width: 140px;
    text-overflow:ellipsis;
}


/*#endregion Sidebar Menu */

.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-default {
    color: black;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/*#region Facepile customizations */
.ms-Facepile{
		margin-top: 5px;
	}
	
	.ms-persona {
		font-size: 20px;
	}
	
	.ms-Facepile-itemBtn {
		height: 24px;
		width: 24px;
		line-height: 24px;
	}
	
	.ms-Persona-imageArea {
		width: 24px;
		height: 24px;
	}
	
	.ms-Persona.ms-Persona--xs .ms-Persona-initials {
		font-size: 14px;
		line-height: 24px;
	}
	
	.ms-Persona.ms-Persona--xs .ms-Persona-image,
	.ms-Persona.ms-Persona--xs .ms-Persona-imageArea {
		width: 24px;
		height: 24px;
	}
/*#endregion Facepile customizations */


.form-header {
    border-bottom: 1px solid #a6a6a6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}

.form-header span{
  margin-bottom: 10px;
    display: inline-block;
}

.chop-comments-container { 
  display: block; 
  background: #fff; 
  padding: 14px 20px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.chop-comments { display: block; padding-left: 0;}

.chop-comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 35px }
.chop-comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
.chop-comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
.chop-comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
.chop-comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; }
.border-top {border-top: 1px solid #ddd;} 
.chop-comments .cmmnt p { margin-top:8px; margin-bottom:8px;}

.cdr-chop-button-no-decisions-yet{
  cursor:pointer;min-width:15px;color:#fff;background-color:#337ab7;border-color:#2e6da4;padding:1px 23px;font-size:12px;line-height:1.5;border-radius:3px;white-space:nowrap;margin:1px;
}

.cdr-chop-button{
  cursor:pointer;min-width:15px;background-color:transparent;border-color:#ddd;padding:1px 23px 1px 5px;font-size:12px;line-height:1.5;border-radius:3px;white-space:nowrap;margin:1px;
}

.staff-chop-button-no-decisions-yet {
  cursor:pointer;min-width:15px;color:#fff;background-color:#337ab7;border-color:#2e6da4;padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;white-space:nowrap;margin:1px;
}

.staff-chop-button {
  cursor:pointer;min-width:15px;background-color:transparent;border-color:#ddd;padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;white-space:nowrap;margin:1px;
}

.cdr-chop-button-no-decisions-yet:hover, .staff-chop-button-no-decisions-yet:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

table.currentops {
        border-collapse: separate;
        border-spacing: 0;
        border-bottom: solid 1px #111111;
        border-left-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        color: #444;
        box-sizing: content-box;
        width: 100%;
        margin-bottom: 20px;
    }
    table.currentops th{
        background-color: rgb(0, 114, 198);
        color:white;
        font-weight:bold;
        border-bottom: solid 1px #111111;
        padding: 10px 18px;
        box-sizing: content-box;
    }
    table.currentops td{
        border-right: solid 1px #dddddd;
        border-top: solid 1px #dddddd;
        padding: 8px 10px;
        border-spacing: 0;
        border-collapse: separate;
    }

    table.currentops td:first-child{
        border-left: solid 1px #dddddd;
    }

    table.currentops tr.group{
        background-color: rgb(209,207,208);
        color:black;
        font-weight:bold;
    }

    .newbtn {
        background: #0eb85e;
        background-image: -webkit-linear-gradient(top, #0eb85e, #4a9624);
        background-image: -moz-linear-gradient(top, #0eb85e, #4a9624);
        background-image: -ms-linear-gradient(top, #0eb85e, #4a9624);
        background-image: -o-linear-gradient(top, #0eb85e, #4a9624);
        background-image: linear-gradient(to bottom, #0eb85e, #4a9624);
        -webkit-border-radius: 14;
        -moz-border-radius: 14;
        border-radius: 14px;
        font-family: Arial;
        color: #ffffff !important;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        text-decoration: none !important;
    }

    .scrollableSummary h2{
        margin-bottom:10px;
    }