
<style>
.mikelabel{
	margin-right:5px; display:inline-block;padding: .2em .6em .3em;font-size: 75%;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;background-color:#777;
	
}
</style>


<uif-button type="button" ng-click="vm.onSendEmailButtonClicked()">Send Email</uif-button>
<uif-button type="button" ng-click="vm.onShowCalloutButtonClicked()">Show Callout</uif-button>
<div>
	<vertical-timeline items="vm.missionLifecycleEvents"></vertical-timeline>
</div>
<div style="width:300px;">
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
	<span class="mikelabel">CJSOTF-RO - J1</span>
</div>