<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
            <nav-tree node-to-edit="vm.selectedNode"></nav-tree>
        </div>
        <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
            <div ng-show="vm.selectedNode">
                <div ng-show="vm.selectedNode.parent !== '#'">
                    <h3>Configuration for <strong>{{vm.selectedNode.text}}</strong> navigation item</h3>
                    <uif-textfield uif-label="URL:" ng-model="vm.selectedNode.li_attr.url" />

                    <label for="">Visibility:</label>
                    <uif-dropdown ng-model="vm.selectedNode.li_attr.visibility">
                        <uif-dropdown-option value="Anonymous">Anonymous</uif-dropdown-option>
                        <uif-dropdown-option value="Hidden">Hidden</uif-dropdown-option>
                        <uif-dropdown-option value="Authenticated">Authenticated</uif-dropdown-option>
                    </uif-dropdown>

                    <label for="">Open link in:</label>
                    <uif-dropdown uif-label="Target:" ng-model="vm.selectedNode.li_attr.target">
                        <uif-dropdown-option value="_self">current window</uif-dropdown-option>
                        <uif-dropdown-option value="_blank">new window/tab</uif-dropdown-option>
                    </uif-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>

