<div class="crt-tabs">
  <div class="crt-tablist">
    <uif-pivot uif-type="{{vm.tabConfig.selectedType}}" uif-size="{{vm.tabConfig.selectedSize}}" uif-pivots="vm.tabConfig.pivots"
      uif-selected="vm.tabConfig.selectedPivot" id="msPivot" class="pivot-overflow-fix">
    </uif-pivot>
  </div>
  <div class="crt-tabcontent">
    <!--TAB 1 CONTENT -->
    <mission-timeline ng-show="vm.tabConfig.selectedPivot.title === 'Timeline'" missions="vm.missions" on-missions-filtered="vm.onMissionsFiltered(missions)" redirect-url-replace="vm.redirectUrlReplace(url)"></mission-timeline>

    <!--TAB 2 CONTENT -->
    <table ng-show="vm.tabConfig.selectedPivot.title === 'Products'" style="width:100%;">
      <tr>
        <td style="vertical-align:top;">
          <uif-table>
            <uif-table-head>
              <uif-table-row>
                <uif-table-header style="width:1px"></uif-table-header>
                <uif-table-header>Document Type</uif-table-header>
                <uif-table-header>File Name</uif-table-header>
                <uif-table-header>Organization</uif-table-header>
                <uif-table-header>Modified</uif-table-header>
                <uif-table-header>Modified By</uif-table-header>
              </uif-table-row>
            </uif-table-head>
            <uif-table-body ng-repeat="group in vm.missionProductsDataSource" ng-if="group.meetsFilterCriteria && group.filteredItems.length > 0">
              <uif-table-row>
                <uif-table-cell colspan="6" style="padding:0;">
                  <div style="padding:3px 5px;color:#337ab7;">
                      
                      <span class="ms-fontColor-neutralTertiary ms-fontWeight-semibold">
                        <i style="cursor:pointer;" ng-click="group.isExpanded = !group.isExpanded" class="fa" ng-class="{'fa-plus-square-o': !group.isExpanded, 'fa-minus-square-o': group.isExpanded }" aria-hidden="true"></i>
                        Mission:</span> <span class="ms-fontWeight-semibold">{{group.name}}</span> ({{group.filteredItems.length}})</span>
                  </div>
                </uif-table-cell>
              </uif-table-row>
              <uif-table-row ng-if="group.meetsFilterCriteria && group.isExpanded" ng-repeat="item in group.filteredItems">
                <uif-table-cell></uif-table-cell>
                <uif-table-cell>{{item.TypeOfDocument}}</uif-table-cell>
                <uif-table-cell><a ng-click="vm.openMissionProduct(item)" style="text-decoration:underline;cursor:pointer;" class="ms-fontColor-themePrimary">{{item.File.Name}}</a></uif-table-cell>
                <uif-table-cell>{{item.Organization}}</uif-table-cell>
                <uif-table-cell>{{item.Modified.format('DD MMM YY HHmm[Z]').toUpperCase()}}</uif-table-cell>
                <uif-table-cell>{{item.Editor.Title}}</uif-table-cell>
              </uif-table-row>
            </uif-table-body>
          </uif-table>
        </td>
        <td style="vertical-align:top;padding-left:10px;">
          <uif-contextual-menu ng-show="vm.filterOptions.products.organization.length" uif-is-open="true" uif-multiselect="true" uif-close-on-click="false"
            style="position:static;float:right;">
            <uif-contextual-menu-item uif-text="'Filter by'" uif-type="header"></uif-contextual-menu-item>
            <uif-contextual-menu-item ng-repeat="item in vm.filterOptions.products.organization" uif-is-selected="item.isSelected" ng-click="vm.onFilterOptionClicked(item, 'missionRelatedDocs')">
              <uif-content>
                <span style="font-size:11px;" title="{{item.key}}">{{item.key}}</span>
              </uif-content>
            </uif-contextual-menu-item>
          </uif-contextual-menu>
        </td>
      </tr>
    </table>

    <!--TAB 3 CONTENT -->
    <table ng-show="vm.tabConfig.selectedPivot.title === 'Chop'" style="width:100%;">
      <tr>
        <td style="vertical-align:top;">
          <uif-table>
            <uif-table-head>
              <uif-table-row>
                <uif-table-header uif-order-by="Mission.FullName">Mission</uif-table-header>
                <uif-table-header uif-order-by="TypeOfDocument">Product</uif-table-header>
                <uif-table-header>Status</uif-table-header>
                <uif-table-header>Reviewer</uif-table-header>
                <uif-table-header>Staff Sections</uif-table-header>
              </uif-table-row>
            </uif-table-head>
            <uif-table-body class="ms-Grid">
              <uif-table-row ng-repeat="item in vm.chopProcessesDataSource | orderBy:table.orderBy:!table.orderAsc">
                <uif-table-cell>
                  <span title="{{item.Mission.onHoverText}}">{{item.Mission.FullName}}</span>
                </uif-table-cell>
                <uif-table-cell>
                  <a title="{{item.File.Name}}" ng-click="vm.openMissionProduct(item)" style="text-decoration:underline;cursor:pointer;" class="ms-fontColor-themePrimary">{{item.TypeOfDocument}}</a>
                </uif-table-cell>
                <uif-table-cell style="white-space:nowrap;">
                  <routing-process-visualization document="item"></routing-process-visualization>
                </uif-table-cell>
                <uif-table-cell>
                  <commander-decision-button document="item"></commander-decision-button>
                </uif-table-cell>
                <uif-table-cell>
                  <routing-process-participants document="item"></routing-process-participants>
                </uif-table-cell>
              </uif-table-row>
            </uif-table-body>
          </uif-table>
        </td>
        <td style="vertical-align:top;padding-left:10px;">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
            <uif-contextual-menu uif-is-open="true" uif-multiselect="true" uif-close-on-click="false" style="position:static;float:right;">
              <uif-contextual-menu-item uif-text="'Filter by Status'" uif-type="header"></uif-contextual-menu-item>
              <uif-contextual-menu-item ng-repeat="item in vm.filterOptions.chopProcesses.overallChopStatus" uif-is-selected="item.isSelected"
                ng-click="vm.onFilterOptionClicked(item, 'chopProcesses')">
                <uif-content>
                  <span style="font-size:11px;" title="{{item.key}}">{{item.key}}</span>
                </uif-content>
              </uif-contextual-menu-item>
            </uif-contextual-menu>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--HIDDEN MODAL-->
<routing-sheet on-chop-created="vm.onChopCreated()"></routing-sheet>