<div id="hdWrap" style="position:fixed;top:0;left:0;width:100%;height:55px;z-index:10;background-color:#fff;border-bottom: solid 1px rgba(205, 197, 197, 0.86);">
    <div id="hd" style="padding:10px;">
        <uif-button uif-type="primary" type="button" ng-click="vm.scrollButtonClicked()" style="float:right;">
            {{vm.scrollStarted ? "Stop Scrolling" : "Start Scrolling"}}
        </uif-button>
        <h1>{{vm.selectedOrg}} Current Operations Summary <span ng-show="vm.lastRefreshedTime" class="ms-fontWeight-light ms-fontSize-m">Last refreshed {{vm.lastRefreshedTime}} <i class="fa fa-clock-o" aria-hidden="true"></i></span></h1>
    </div>
</div>
<div class="scrollableSummary" style="margin-top:55px;padding:10px;">
    <h2>CCIR</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>Requirement</th>
                <th>Status</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody ng-repeat="(category, items) in vm.ccirItemsGroupedByCategory">
            <tr class="group">
                <td colspan="3">{{category}}</td>
            </tr>
            <tr ng-repeat="item in items">
                <td>{{item.Category.charAt(0)}}{{item.Number}}</td>
                <td>
                    <i ng-if="item.Status==='Yellow'" style="color:yellow;" class="fa fa-circle fa-2x"></i>
                    <i ng-if="item.Status==='Red'" style="color:red;" class="fa fa-circle fa-2x"></i>
                </td>
                <td>{{item.Title}} <a class="newbtn" ng-show="vm.isNew(item.Created)">New</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Watch Log (Last 24 Hours)</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>DTG</th>
                <th>Organization</th>
                <th>Event</th>
                <th>Action Taken</th>
                <th>Initials</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.watchLogItems">
                <td>{{item.DTG}}</td>
                <td>{{item.Organization}}</td>
                <td>{{item.Title}} <a class="newbtn" ng-show="vm.isNew(item.Created)">New</a></td>
                <td>{{item.ActionTaken}}</td>
                <td>{{item.Initials}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Battle Rhythm (Next 24 Hours)</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Title</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.calendarItems">
                <td>{{item.start.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
                <td>{{item.end.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
                <td>{{item.title}} <a class="newbtn" ng-show="vm.isNew(item.created)">New</a></td>
                <td>{{item.comments}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Message Traffic (Last 24 hours)</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>DTG</th>
                <th>Title</th>
                <th>Originator/Sender</th>
                <th>Receiver</th>
                <th>Task/Info</th>
                <th>Initials</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.messageTraffic">
                <td>{{item.DTG}}</td>
                <td>{{item.Title}} <a class="newbtn" ng-show="vm.isNew(item.Created)">New</a></td>
                <td>{{item.OriginatorSender}}</td>
                <td>{{item.Receiver.results.join('; ')}}</td>
                <td>{{item.TaskInfo}}</td>
                <td>{{item.Initials}}</td>
            </tr>
        </tbody>
    </table>

    <h2>Mission Tracker</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>Title</th>
                <th>Exercise Group</th>
                <th>Expected Execution</th>
                <th>Expected Termination</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody ng-repeat="missionGroup in vm.missionGroupings">
            <tr class="group" ng-show="missionGroup.items.length">
                <td colspan="5">{{missionGroup.name}}</td>
            </tr>
            <tr ng-repeat="item in missionGroup.items">
                <td>
                    {{item.Identifier}}
                    <span style="color:#777;size:0.85em;">({{item.ObjectiveName}} <span ng-show="item.OperationName">, {{item.OperationName}}</span>)</span> 
                    <i ng-if="item.relatedDocs.length" class="fa fa-paperclip fa-lg" ng-click="vm.showMissionDocs(item)" style="cursor:pointer;"></i>
                    <a class="newbtn" ng-show="vm.isNew(item.Created)">New</a>
                </td>
                <td>{{item.ParticipatingOrganizations.results.join('; ')}}</td>
                <td>{{item.ExpectedExecution.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
                <td>{{item.ExpectedTermination.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
                <td>{{item.Comments}}</td>
            </tr>
        </tbody>
    </table>
    

    <h2>Open High Priority RFIs</h2>
    <table class="currentops">
        <thead>
            <tr>
                <th>POC Organization</th>
                <th>Recommended OPR</th>
                <th>Tracking #</th>
                <th>Title</th>
                <th>LTIOV</th>
                <th>Priority</th>
                <th>Date Opened</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.openRFIs">
                <td>{{item.PocOrganization}}</td>
                <td>{{item.RecommendedOPR}}</td>
                <td>{{item.RfiTrackingNumber}}</td>
                <td>{{item.Title}} <a class="newbtn" ng-show="vm.isNew(item.Created)">New</a></td>
                <td>{{item.LTIOV.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
                <td>{{item.Status}}</td>
                <td>{{item.DateOpened.format("DD MMM YY HHmm[Z]").toUpperCase()}}</td>
            </tr>
        </tbody>
    </table>
</div>

<uif-dialog uif-close="false" uif-overlay="light" uif-type="multiline" ng-show="vm.missionDocsDialog.show">
    <uif-dialog-header>
        <p class="ms-Dialog-title">
            Related Documents
        </p>
    </uif-dialog-header>
    <uif-dialog-inner>
        <uif-dialog-content>
            <uif-dialog-subtext>
                <span>{{vm.missionDocsDialog.header}}:</span>
                <ul>
                    <li ng-repeat="item in vm.missionDocsDialog.documents">
                        <uif-link ng-href="{{item.File.ServerRelativeUrl}}">{{item.TypeOfDocument}}</uif-link>
                    </li>
                </ul>
            </uif-dialog-subtext>
        </uif-dialog-content>
        <uif-dialog-actions uif-position="right">
            <button class="ms-Dialog-action ms-Button" ng-click="vm.missionDocsDialog.show = false" type="button">
                <span class="ms-Button-label">Cancel</span>
            </button>
        </uif-dialog-actions>
    </uif-dialog-inner>
</uif-dialog>