<div id="hdWrap">
    <div id="hd">
        <table style="width:100%;margin:0;padding:0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2">
                    <table cellspacing="4" cellpadding="0" style="width:100%">
                        <tr>
                            <td style="width:99%">&nbsp;</td>
                            <td nowrap><a id="orgDropDown">&nbsp;</a></td>
                            <td>|</td>
                            <td><a ng-click="vm.scrollButtonClicked()" style="text-decoration:underline;cursor:pointer;">Scroll</a></td>
                            <td>|</td>
                            <td><a ng-click="vm.stopButtonClicked()" style="text-decoration:underline;cursor:pointer;">Stop</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="appContainer" style="margin-top:40px;">
    <h1>{{vm.message}}</h1>
</div>