<uif-pivot uif-type="{{vm.tabConfig.selectedType}}" uif-size="{{vm.tabConfig.selectedSize}}" uif-pivots="vm.tabConfig.pivots"
  uif-selected="vm.tabConfig.selectedPivot" id="msPivot" class="pivot-overflow-fix">
  <uif-pivot-ellipsis ng-click="vm.openMenu()">
    <uif-contextual-menu uif-is-open="vm.tabConfig.menuOpened" uif-close-on-click="true">
      <uif-contextual-menu-item>
        <uif-content>
          <uif-icon uif-type="plus"></uif-icon> New RFI
        </uif-content>
      </uif-contextual-menu-item>
    </uif-contextual-menu>
  </uif-pivot-ellipsis>
</uif-pivot>

<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
      <nav-menu></nav-menu>



      <script type="text/ng-template" id="tree_item_renderer.html">
        <a ng-if="!data.flagCode" class="noflag" ng-href="{{data.li_attr.url}}" target="{{data.li_attr.target}}">
          <span class="menu-label-when-no-flag">{{data.text}}</span>
        </a>
        <a ng-if="data.flagCode" ng-href="{{data.li_attr.url}}" target="{{data.li_attr.target}}">
            <span class="f32"><span class="flag" ng-class="data.flagCode"><span class="menu-label-when-flag">{{data.text}}</span></span></span>
        </a>
        <i ng-show="data.children.length !== 0" class="ms-ContextualMenu-subMenuIcon ms-Icon ms-Icon--chevronRight"></i>
        <ul ng-show="data.children.length !== 0">
          <li ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></li>
        </ul>  
      </script>

      <div id="jocboxmenu">
        <ul>
          <li ng-repeat="data in vm.tree" ng-include="'tree_item_renderer.html'"></li>
        </ul>
      </div>
      




    </div>
    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">

    </div>
  </div>
</div>