<p>
  <uif-pivot uif-type="{{vm.tabConfig.selectedType}}" uif-size="{{vm.tabConfig.selectedSize}}" uif-pivots="vm.tabConfig.pivots"
    uif-selected="vm.tabConfig.selectedPivot" id="msPivot" class="pivot-overflow-fix">
  </uif-pivot>
</p>

<div class="ms-Grid">
  <div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
      <uif-button type="button" uif-type="hero" ng-click="vm.goToNewRfiForm()">
        <uif-icon uif-type="plus"></uif-icon> create a new RFI
      </uif-button>
      <uif-contextual-menu ng-show="vm.filterControlDataSource.length" uif-is-open="true" uif-multiselect="true" uif-close-on-click="false" style="margin-left:20px;position:static;float:right;" class="ms-u-hiddenLgDown">
        <uif-contextual-menu-item uif-text="'Filter by OPR'" uif-type="header"></uif-contextual-menu-item>
        <uif-contextual-menu-item ng-repeat="item in vm.filterControlDataSource" uif-is-selected="item.isSelected" ng-click="vm.applyFilters(item)">
          <uif-content>
            <span style="float:right;">({{item.count}})</span>
            <span style="font-size:11px;" title="{{item.key}}">{{vm.truncateText(item.key, 14)}}</span>
          </uif-content>
        </uif-contextual-menu-item>
      </uif-contextual-menu>
      <uif-table style="width:auto;">
        <uif-table-head>
          <uif-table-row>
            <uif-table-header>&nbsp;</uif-table-header>
            <uif-table-header>Title</uif-table-header>
            <uif-table-header>Mission</uif-table-header>
            <uif-table-header uif-order-by="PocOrganization">POC</uif-table-header>
            <uif-table-header uif-order-by="RecommendedOPR">OPR</uif-table-header>
            <uif-table-header style="white-space:nowrap;" uif-order-by="RfiTrackingNumber">Tracking #</uif-table-header>
            <uif-table-header uif-order-by="PrioritySort">Priority</uif-table-header>
            <uif-table-header uif-order-by="LTIOV">LTIOV</uif-table-header>
            <uif-table-header style="white-space:nowrap;" uif-order-by="Created">Date Opened</uif-table-header>
            <uif-table-header style="white-space:nowrap;" uif-order-by="DateClosed" ng-show="vm.tabConfig.selectedPivot.title === 'Closed'">Date Closed</uif-table-header>
          </uif-table-row>
        </uif-table-head>
        <uif-table-body>
          <uif-table-row ng-repeat="item in vm.selectedDataSource | orderBy:table.orderBy:!table.orderAsc">
            <uif-table-cell>
              <uif-button type="button" uif-type="primary" ng-click="vm.goToEditForm(item)" style="display: table;">{{vm.getAction(item)}}</uif-button>
            </uif-table-cell>
            <uif-table-cell>{{item.Title}}</uif-table-cell>
            <uif-table-cell style="white-space:nowrap;">{{item.Mission.FullName}}</uif-table-cell>
            <uif-table-cell style="white-space:nowrap;"><span title="{{item.PocName.Title}}">{{item.PocOrganization}}</span></uif-table-cell>
            <uif-table-cell style="white-space:nowrap;">{{item.RecommendedOPR}}</uif-table-cell>
            <uif-table-cell>{{item.RfiTrackingNumber}}</uif-table-cell>
            <uif-table-cell>
              <div style="white-space:nowrap;" class="alert alert-warning" ng-class="{'alert-danger': item.Priority === 'Immediate (< 24 hrs)','alert-warning': item.Priority === 'Priority (24-48 hrs)', 'alert-default': item.Priority === 'Routine (48-96 hrs)'}" role="alert">
                      {{item.Priority}}
              </div>
            </uif-table-cell>
            <uif-table-cell style="white-space:nowrap;">{{(item.LTIOV.isValid())? item.LTIOV.format('DD MMM YY HHmm[Z]').toUpperCase() : ''}}</uif-table-cell>
            <uif-table-cell style="white-space:nowrap;">{{item.Created.format('DD MMM YY HHmm[Z]').toUpperCase()}}</uif-table-cell>
            <uif-table-cell style="white-space:nowrap;" ng-show="vm.tabConfig.selectedPivot.title === 'Closed'">{{item.DateClosed.format('DD MMM YY HHmm[Z]').toUpperCase()}}</uif-table-cell>
          </uif-table-row>
        </uif-table-body>
      </uif-table>
    </div>
  </div>
</div>