<style type="text/css">
    tr.data-entry td {
        padding: 8px !important;
    }
    
    button.show-special-title {
        height: 46px;
    }

    .bootstrap-tagsinput input {
        /*seems to fix IE*/
        line-height: 17px;
        padding:5px;
    }
</style>
<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel>
                <ba-wizard>
                    <!--
                    <ba-wizard-step title="Create Site" on-next-step-clicked="vm.onSiteInfoCollected()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Exercise Name</label>
                                    <input type="text" class="form-control" placeholder="Name" ng-model="vm.siteInfo.name">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea placeholder="Description" class="form-control" ng-model="vm.siteInfo.description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Select the parent web site</label>
                                    <input type="text" class="form-control" placeholder="Parent Web Site" ng-model="vm.siteInfo.parentWeb" disabled>
                                </div>
                                <div class="form-group" ng-show="vm.siteInfo.parentWeb">
                                    <label>Exercise Site Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon input-group-addon-primary addon-left">{{ vm.serverLocation + vm.siteInfo.parentWeb}}/</span>
                                        <input type="text" class="form-control with-primary-addon" placeholder="URL" ng-model="vm.siteInfo.acronym">
                                    </div>
                                    <span class="help-block sub-little-text">Should be abbreviation or short acronym e.g. TF16</span>
                                </div>
                            </div>
                        </div>
                    </ba-wizard-step>
                   
                    <ba-wizard-step title="Commands/Task Groups" on-next-step-clicked="vm.onOrganizationsIdentified()">

                        <h3 class="with-line"><i class="gi gi-capitol"></i>Component Commands <small class="text-muted">at least one required</small></h3>

                        <table class="table table-bordered">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Staff Sections</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.componentCommands" class="data-entry">
                                    <td class="col-md-2">
                                        <input type="text" class="form-control input-lg" ng-model="org.name" />
                                    </td>
                                    <td class="col-md-2">
                                        <ol class="nya-bs-select input-lg" ng-model="org.country" title="Select a Country" data-live-search="true">
                                            <li nya-bs-option="ctry in vm.countries">
                                                <a>
                                                    <div class="f32">
                                                        <div class="flag" ng-class="ctry.flag"><span style="margin-left:36px;">{{ctry.name}}</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ol>
                                    </td>
                                    <td class="col-md-6">
                                        <tag-input placeholder='add another...' taglist='org.staffSections'></tag-input>
                                    </td>
                                    <td class="col-md-1">
                                        <button type="button" class="btn btn-danger pull-right" ng-disabled="$index === 0 && vm.componentCommands.length === 1" ng-click="vm.removeComponentCommand(org)">
                                            <i class="fa fa fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="data-entry">
                                    <td colspan="4">
                                        <button type="button" class="btn btn-primary pull-right" ng-click="vm.addComponentCommand()">
                                           <i class="fa fa fa-plus"></i>
                                           Add Another
                                       </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <h3 class="with-line"><i class="fa fa-sitemap"></i>Task Groups <small class="text-muted">optional</small></h3>

                        <table class="table table-bordered">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in vm.taskGroups" class="data-entry">
                                    <td class="col-md-2">
                                        <input type="text" class="form-control input-lg" ng-model="org.name" />
                                    </td>
                                    <td class="col-md-2">
                                        <ol class="nya-bs-select input-lg" ng-model="org.country" title="Select a Country" data-live-search="true">
                                            <li nya-bs-option="ctry in vm.countries">
                                                <a>
                                                    <div class="f32">
                                                        <div class="flag" ng-class="ctry.flag"><span style="margin-left:36px;">{{ctry.name}}</span></div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ol>
                                    </td>
                                    <td class="col-md-6">
                                        <ol class="nya-bs-select" ng-model="org.type" title="Select a Task Group Type">
                                            <li class="nya-bs-option" data-value="Land">
                                                <a>
                                                    <div>
                                                        <i class="gi gi-tank gi-2x" style=" vertical-align: middle;"></i>
                                                        <span>Land</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nya-bs-option" data-value="Maritime">
                                                <a>
                                                     <div>
                                                        <i class="gi gi-ship-front gi-2x" style=" vertical-align: middle;"></i>
                                                        <span>Maritime</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ol>
                                    </td>
                                    <td class="col-md-1">
                                        <button type="button" class="btn btn-danger pull-right" ng-click="vm.removeTaskGroup(org)">
                                            <i class="fa fa fa-trash"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="data-entry">
                                    <td colspan="4">
                                        <button type="button" class="btn btn-primary pull-right" ng-click="vm.addTaskGroup()">
                                           <i class="fa fa fa-plus"></i>
                                           Add Another
                                       </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </ba-wizard-step>
                     -->
                    <ba-wizard-step title="Additional Features" >
                        <h3 class="with-line"><i class="gi gi-airplane"></i> Air Component <small class="text-muted">optional</small></h3>
                        
                        <div class="switches clearfix">
                            <switch color="primary" ng-model="vm.switcherValues.primary" on-text="Required" off-text="Not Required"></switch>
                        </div>
                        {{vm.switcherValues.primary}}
                        <h3 class="with-line"><i class="gi gi-satellite"></i> Communications Component <small class="text-muted">optional</small></h3>

                        <h3 class="with-line"><i class="fa fa-random"></i> Exercise Control Group <small class="text-muted">optional</small></h3>

                        <h3 class="with-line"><i class="fa fa-desktop"></i> Help Desk Ticketing System <small class="text-muted">optional</small></h3>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finish">

                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>
{{vm.componentCommands}}
</div>